:root {
	--mdc-theme-primary: #2196F3;
	--mdc-theme-secondary: #FFC107;
	--mdc-theme-background: #fff;
	--mdc-theme-surface: #fff;
	--mdc-theme-on-primary: #fff;
	--mdc-theme-on-secondary: #000;
	--mdc-theme-on-background: #000;
	--mdc-theme-on-surface: #000;
  }
  